<%- include ('../../partials/header.ejs')  %>

<div class="container mt-5">
    <div class="d-flex justify-content-center row-logo">
        <img src="img/logo-login.png" class="img-logo" width="200px" alt="Logo">
      </div>
    <hr>
    <div class="card mt-5">
        <div class="card-header">
            <h2>Entrar como admin</h2>
        </div>
        <div class="card-body">
            <form action="/authenticate" method="post">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" name="email" class="form-control" placeholder="mail@exemplo.com">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Senha</label>
                    <input type="password" name="password" class="form-control" placeholder="Digite sua senha">
                </div>
                <div class="mb-3 d-grid">
                    <button type="submit" class="btn btn-success btn-">Entrar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include ('../../partials/footer.ejs')  %>

